/* --- Banner Section --- */
.about-banner-main-box .about-banner-thumbnail{
    width: 100%;
    padding-bottom: 34%;
    position: relative;
    display: block;
    overflow: hidden;
}
.about-banner-thumbnail .banner-img-box{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
}
.banner-img-box .about-banner-img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
} 
.about-banner-main-box .about-banner-thumbnail::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #00000090;
  z-index: 1;
} 
 /* --- End Banner Section --- */

 /* --- Welcome Section --- */
 .about-welcome-section{
    padding: 5px;
    /* background-color: var(--secondary-color); */
 }
.about-welcome-img-box{
    max-width: 500px;
}
.about-welcome-img{
    width: 100%;
    height: 100%;
}
 .about-welcome-content-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .wecome-headind-line-box{
    max-width: 60%;
 }
 .wecome-headind-line-icon{
    width: 100%;
    height: 100%;
 }
 /* --- End Welcome Section --- */

 /* Fix Image and Content ---  */
 .about-img-fix-content-box{
    padding: 20px 0px;
}
.about-back-img{
    background-image: url('../images/hero-fixed.png');
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.about-back-img::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #277474b0;
}
.about-left-img-box{
    max-width: 500px;
}
.about-left-img-box .about-left-img{
    width: 100%;
    height: 100%;
}
/* .about-fix-details-box{
    background-color: var(--secondary-color);
} */

 /* --- End Fix Image and Content --- */